body {
    background-color: rgb(236, 253, 235);
}

#container {
    color:  rgb(50, 134, 8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#blog1{
    color:  rgb(50, 134, 8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: 10px 300px 10px 300px;
}

footer {
    margin-top: 250px;
}