body {
    background-color: rgb(236, 253, 235);
}


#container {
    color:  rgb(50, 134, 8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2 {
    margin: 15px;
}

#blog3{
    color:  rgb(50, 134, 8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: 1px 300px 10px 300px;
}

#side-note {   
    padding: 1px;
    margin: 1px ;
}   

#side-note ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 100px;
}