body {
    background-color: rgb(238, 255, 232);
}

#shop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: rgb(41, 109, 7);
    text-decoration: underline;
}

#top-banner {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(41, 109, 7);
}

.product-container {
    display: flex;
    flex-direction: row;
    padding: 50px;  
}

.text-container {
    padding: 50px;  
}

.text-container h4 {
    color: rgb(50, 134, 8);
    font-weight: bolder;
}

.text-container p {
    margin: 20px 10px 20px -1px;
}

.text-container button {
    color: white;
    background-color: rgb(50, 134, 8);
    border: 1px solid rgb(50, 134, 8);
    border-radius: 3px;
    padding: 20px;
    font-weight: bolder;
}

footer {
    margin-top: 150px;
}